@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar {
    width: 20px;
}