@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap");

.font-serif {
  font-family: "Playfair Display";
}

body {
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 15px;
}
.font-sans {
  font-family: "Fira Sans";
}

input[type=range] {
  width: calc(100% - 4px);
  -webkit-appearance: none;
  margin: 0 2px;
  outline: none !important;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(156, 163, 175, 1);
  width: 100%;
  height: 10px;
  cursor: pointer;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  width: 60px;
  height: 10px;
  background: rgba(193, 7, 34, 1);
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 2px;
}

::-webkit-scrollbar{
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track-piece{
  background-color: #FFF;
}

::-webkit-scrollbar-thumb{
  background-color: #CBCBCB;
  outline: 2px solid #FFF;
  outline-offset: -2px;
  border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #909090;
}