@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    height: 100%;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ddd;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar {
    width: 20px;
}
.fullheight {
    height: calc(var(--vh, 1vh) * 100);
}

.text-light{ @apply text-light-500; }
.text-dark{ @apply text-dark-500; }
.text-primary{ @apply text-primary-500; }
.text-opposite{ @apply text-opposite-500; }

.bg-light{ @apply bg-light-500; }
.bg-dark{ @apply bg-dark-500; }
.bg-primary{ @apply bg-primary-500; }
.bg-opposite{ @apply bg-opposite-500; }
.bg-close{ @apply bg-close-500; }
.bg-smudge{ @apply bg-smudge-500; }

.border-light{ @apply border-light-500; }
.border-dark{ @apply border-dark-500; }
.border-primary{ @apply border-primary-500; }
.border-opposite{ @apply border-opposite-500; }

.loader{
    animation-name: load2;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes load2 {
    0% { left: -50px; }
    100% { left: 100%; }
}
.dark .dark-fill-black{fill: black;}
.dark .dark-fill-white{fill: white;}
.dark .dark-stroke-black{stroke: black;}
.dark .dark-stroke-white{stroke: white;}
.dark .dark-invert{@apply invert;}

@layer utilities {
    .text-stroke {
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7) /* fallback */
    }
    @supports (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5)) {
        .text-stroke {
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
            text-shadow: initial;
        }    
    }

    .text-stroke-none {
        -webkit-text-stroke: initial;
        text-shadow: initial;
    }
}